@font-face {
  font-family: artifice;
  src: url('fonts/artifice-regular.otf');
}
.body-auth{
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.body-auth::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:-1;
}
.page-wrapper{
    min-height: 560px !important;
}
.content-title{
  display: flex;
  width: auto;
  height: 60px;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20%;
  left: 7%;
  margin: auto;
  overflow: hidden;
  }
     
     .content-title ul {
      list-style: none;
      padding-left: 10px;
      animation: cambiar 7s infinite;
      
     }
     
     .content-title ul, .content-title p {
      margin: 0;
     }
  
  @keyframes  cambiar {
   
   0%{ margin-top: 0;}
    20%{ margin-top: 0;}
    
    25% { margin-top: -60px;}
    50% { margin-top: -60px;}
    
    55% { margin-top: -120px;}
    80% { margin-top: -120px;}
    
    85% { margin-top: -60px;}
    95% { margin-top: -60px;}
    
   100% { margin-top: 0;}
   
  }
.logo-auth{
  height: auto;
  width: 290px;
}
.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    background-image: linear-gradient(#24598f,#24598f),linear-gradient(#e9ecef,#e9ecef);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    float: none;
}
.font-logo {
  font-family: artifice;
  color: #740c6d;
  font-size: 42px;
  line-height: 1;
  position: absolute;
  bottom: 21px;
  left: 54px;
}

.sub-font-logo {
  font-family: artifice;
  color: #740c6d;
  font-size: 9px;
  line-height: 0;
  position: absolute;
  bottom: 18px;
  left: 54px;
}

.skin-blue-dark .left-sidebar {
  background: #c1c1c1;
}

.topbar .top-navbar .navbar-header {
  background: #c1c1c1;
}

.skin-blue .topbar, .skin-blue-dark .topbar {
  background: #c1c1c1;
}

.page-titles {
  background: #dbdbdd;
}

.user-space {
  background: #005b99;
}

.user-pro a img {
  width: 50px;
}

.hide-menu {
  color: #fff;
}

.sidebar-nav>ul>li>a i {
  color: #ffffff;
    font-size: 1.5em;
}

.skin-blue .page-titles .breadcrumb .breadcrumb-item.active, .skin-blue .sidebar-nav ul li a.active, .skin-blue .sidebar-nav ul li a.active i, .skin-blue .sidebar-nav ul li a:hover, .skin-blue .sidebar-nav ul li a:hover i, .skin-blue .sidebar-nav>ul>li.active>a, .skin-blue .sidebar-nav>ul>li.active>a i, .skin-blue-dark .page-titles .breadcrumb .breadcrumb-item.active, .skin-blue-dark .sidebar-nav ul li a.active, .skin-blue-dark .sidebar-nav ul li a.active i, .skin-blue-dark .sidebar-nav ul li a:hover, .skin-blue-dark .sidebar-nav ul li a:hover i, .skin-blue-dark .sidebar-nav>ul>li.active>a i {
  color: #ffffff;
  font-weight: unset !important;
}

.space-li {
  margin-top: -8px !important;
}

.space-a {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}

.dashboard-a {
  background: #22c7b7;
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}

.skin-blue-dark .sidebar-nav>ul>li.active>a {
  border-left: 3px solid #22c7b7;
}

.icon-icon {
  font-size: 25px;
  color: #005b99;
  position: relative;
  top: 6px;
}

@media (min-width: 768px) {
  .mini-sidebar .sidebar-nav #sidebarnav .user-pro>a {
    padding-left: 6px;
  }
}

@media (min-width: 768px) {
  .mini-sidebar .sidebar-nav #sidebarnav>li>a {
    width: 70px;
    padding: 15px 15px 15px 25px;
  }

}

@media (min-width: 768px) {
  .mini-sidebar .sidebar-nav #sidebarnav li {
    position: relative;
  }
}  
  @media (max-width: 979px) {
    .content-title {
      display: none;
    }
      .font-white {
          margin-top: 5px;
      }
  }

  .user-space:hover {
    background: #005b99 !important;
  }

  .dashboard-a:hover {
    background: #22c7b7 !important;
  }

  .skin-blue-dark.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a, .skin-blue-dark.mini-sidebar .sidebar-nav #sidebarnav>li>ul {
    background: #c1c1c1;
  }


.page-titles h4 {
    color: #005b99;
}
.email-nav {
    font-size: 1.2em !important;
    position: relative;
    top: 8px;
    color: #005b99 !important;
}

.footer {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.44);
  bottom: 0px;
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #fff;
  border-top: 0px;
  line-height: 3.2;
  height: 50px;
  padding: 0px;
  right: 0;
}

.footer-login {
  font-size: 16px;
  font-family: artifice;
  background: rgba(255, 255, 255, 0.44);
  bottom: 0px;
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #fff;
  z-index: 840;
  height: 52px;
  line-height: 3.5;
  left: 0;
}

.heart-copy {
  height: auto;
  width: 40px;
}

.copy-1 {
  margin-right: -9px;
  color: #000 !important;
}

.copy-2 {
  margin-left: -9px;
  color: #000 !important;
}
a {
    color: #24598f !important;
}
.bg-info {
    background-color: #005691!important;
}
.has-feedback .smk-error-msg {
    right: 10px !important;
    color: #ff0000;
}
.dataTables_filter input, .dataTables_filter input:focus, .dataTables_length select, .dataTables_length select:focus {
    background-image: linear-gradient(#005b99,#005b99),linear-gradient(#e9ecef,#e9ecef);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff!important;
    border: 1px solid #005b99;
    background-color: #005b99;
}
.customvtab .tabs-vertical li .nav-link.active, .customvtab .tabs-vertical li .nav-link:hover, .customvtab .tabs-vertical li .nav-link:focus {
    background: #005b99;
    border: 0px;
    border-right: 2px solid #005b99;
    margin-right: -1px;
    color: #ffffff !important;
}
.font-white {
    color: black !important;
}
.page-titles .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #005b99 !important;
}
.close {
    color: #fdfbfb !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff;
    border: 1px solid #22c7b7 !important;
    background-color: #22c7b7 !important;
}
.logo-eps {
    height: auto;
    width: 100px;
}
